{% extends 'base.html' %} {% block content %}
<!-- LEAGUE TABLE -->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" class="h3">Position</th>
      <th scope="col"></th>
      <th scope="col" class="h3">Club Name</th>
      <th scope="col" class="h3">Points</th>
      <th scope="col" class="h3">Form</th>
      <th scope="col" class="h3">Goal Difference</th>
      <th scope="col" class="h3">Matches Played</th>
      <th scope="col" class="h3">Wins</th>
      <th scope="col" class="h3">Draws</th>
      <th scope="col" class="h3">Losses</th>
    </tr>
  </thead>
  <tbody>
    {% for team in teams %}
    <tr class="table-row">
      <th scope="row" class="h3">{{ team.rank }}</th>
      <td>
        <a href="/team/{{ team.id }}">
          <img src="{{ team.photo }}" class="rounded img-fluid" />
        </a>
      </td>
      <td class="h3">{{ team.name }}</td>
      <td class="h3">{{ team.points }}</td>
      <td class="h3">{{ team.form }}</td>
      <td class="h3">{{ team.goal_diff }}</td>
      <td class="h3">{{ team.games_played }}</td>
      <td class="h3">{{ team.game_won }}</td>
      <td class="h3">{{ team.games_drawn }}</td>
      <td class="h3">{{ team.games_lost }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

<!-- Upcoming Matches -->
